* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
}

/* Контейнер */
.container {
    width: 60%;
    background: #fff;
    border: 1px solid #ccc;
}

/* Верхній блок */
header {
    width: 100%;
    background: #66d9ff;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}


.row {
    width: 100%;
    overflow: hidden; 
}

/* Колонки */
.left, .center, .right {
    float: left;
    width: 33.33%;
    height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}


.left { background: #99ffcc; }
.center { background: #ffff99; }
.right { background: #ff99ff; }

/* Нижній блок */
footer {
    clear: both;
    width: 100%;
    background: #ffe0b3;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
